


<!-- <mat-card> 
    <div style="text-align:center;">
        <mat-card-title>Formulario</mat-card-title>
    </div>   
    <br>
    <form > [formGroup]="usuarioNuevo"
        <mat-form-field class="campos-field">
            <input matInput placeholder="Código" formControlName="cedula">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Descripcion del producto" formControlName="nombres">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Precio de compra" formControlName="apellidos">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Precio de venta" formControlName="password">
        </mat-form-field>

        <button mat-raised-button [disabled] = "!usuarioNuevo.valid" (click)="onSubmit()">Aceptar</button>  
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
    </form>
    
</mat-card> -->